.container {
    position: fixed;
    left: 0; 
    top: 0; 
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vizDiv {
    width: 100vw;
    height: 100vh;
    background: black;
}

.videoFeed {
    position: fixed;
    margin: 1rem;
    padding: 1rem;
    right: 10px;
    top: 10px;
    width: 300px;
    z-index: 900;
}

.videoFeed img {
    width: 100%;
    border-radius: 8px;
}

